html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.content-container {
  grid-area: content;
  padding: 2rem;
  overflow: scroll;
  max-height: 100vh;
}
.header {
  font-weight: 400;
}
.mb {
  margin-bottom: 1.5rem;
}
.mt {
  margin-top: 1.5rem;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
  .content-container {
    padding: 5rem 0.5rem;
  }
}
