:root {
  --primary: #2e1114;
  --secondary: #501b1d;
  --middle: #64485c;
  --text: #83677b;
  --text2: #adadad;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.content-container {
  grid-area: content;
  padding: 2rem;
  overflow: scroll;
  max-height: 100vh;
}
.header {
  font-weight: 400;
}
.mb {
  margin-bottom: 1.5rem;
}
.mt {
  margin-top: 1.5rem;
}

* {
  box-sizing: border-box;
}
.tabell-text {
  font-size: 0.8rem;
}
.tab {
  color: var(--text);
  font-weight: 100;
}
.tab:hover {
  cursor: pointer;
}
.blade-container {
  display: flex;
  padding: 0.2rem;
  font-size: 0.8rem;
  background: var(--secondary);
  margin-bottom: 0.2rem;
  width: 15rem;
  border-radius: 5px;
  color: var(--text2);
}
.blade-container2 {
  display: flex;
  padding: 0.2rem;
  font-size: 0.8rem;
  background: var(--secondary);
  margin-bottom: 0.2rem;
  width: 24rem;
  border-radius: 5px;
  color: var(--text2);
}

@media only screen and (max-width: 1000px) {
  .content-container {
    padding: 5rem 0.5rem;
  }
  .blade-container2 {
    width: 22rem;
  }
}
