/* :root {
  --primary: #2e1114;
  --secondary: #501b1d;
  --middle: #64485c;
  --text: #83677b;
  --text2: #adadad;
} */
:root {
  --primary: #05386b;
  --secondary: #379683;
  --middle: #5cdb95;
  --text: #8ee4af;
  --text2: #edf5e1;
}

/* :root {
  --primary: #0b0c10;
  --secondary: #1f2833;
  --middle: #c5c6c7;
  --text: #66fcf1;
  --text2: #45a29e;
} */
/* :root {
  --primary: #2c3531;
  --secondary: #116466;
  --middle: #d9b08c;
  --text: #ffcb9a;
  --text2: #d1e8e2;
} */
/* :root {
  --primary: #687864;
  --secondary: #31708e;
  --middle: #5085a5;
  --text: #8fc1e3;
  --text2: #f7f9fb;
} */
/* :root {
  --primary: #314455;
  --secondary: #644e5b;
  --middle: #9e5a63;
  --text: #c96567;
  --text2: #97aabd;
} */
/* :root {
  --primary: #2d283e;
  --secondary: #69467e;
  --middle: #564f6f;
  --text: #4c495d;
  --text2: #d1d7e0;
} */
/* :root {
  --primary: #026670;
  --secondary: #80beac;
  --middle: #fef9c7;
  --text: #fce181;
  --text2: #edeae5;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.content-container {
  grid-area: content;
  padding: 2rem;
  overflow: scroll;
  max-height: 100vh;
}
.header {
  font-weight: 400;
  color: var(--primary);
}
.mb {
  margin-bottom: 1.5rem;
}
.mt {
  margin-top: 1.5rem;
}

* {
  box-sizing: border-box;
}
.tabell-text {
  font-size: 0.8rem;
}
.tab {
  color: var(--text);
  font-weight: 100;
}
.tab:hover {
  cursor: pointer;
}
.blade-container {
  display: flex;
  padding: 0.2rem;
  font-size: 0.8rem;
  background: var(--secondary);
  margin-bottom: 0.2rem;
  width: 15rem;
  border-radius: 5px;
  color: var(--text2);
}
.blade-container2 {
  display: flex;
  padding: 0.2rem;
  font-size: 0.8rem;
  background: var(--secondary);
  margin-bottom: 0.2rem;
  width: 24rem;
  border-radius: 5px;
  color: var(--text2);
}

@media only screen and (max-width: 1000px) {
  .content-container {
    padding: 5rem 0.5rem;
  }
  .blade-container2 {
    width: 22rem;
  }
}
